.strike{
   color: gray;
   text-decoration: line-through;
}

h1{
    color: red;
}
.main-container{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    background-color: aliceblue;
}